#!/usr/bin/env xdg-open
	[Desktop Entry]
	Name=Ryujinx EmuDeck
	Exec=/home/deck/Documents/tools/UpdateRyujinx.sh
	Icon=/home/deck/.local/share/icons/emudeck/Ryujinx.svg
	Terminal=false
	Type=Application
	Categories=Game;
	StartupNotify=false
